= wrap_layout :site do
  - content_for :head do
    = stylesheet_link_tag 'bylaw.css', media: "screen, print"

    %meta(property="og:type" content="article")
    %meta(property="og:description" content="#{act.title} for #{regions[act.locality].name}")
    %meta{property: "og:url", content: act_url(act, external: true)}

  %header
    .container
      = partial 'header', locals: {act: act}
      = yield_content :breadcrumbs

  %article
    .container
      = partial 'notices', locals: {act: act}
      = yield

  - content_for :extra_js do
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
