= wrap_layout :site do
  - content_for :head do
    = stylesheet_link_tag 'bylaw.css', media: "screen, print"
    = stylesheet_link_tag 'https://cdn.jsdelivr.net/gh/laws-africa/indigo-web@3.9.0/css/akoma-ntoso.min.css', media: "screen, print"

    %meta(property="og:type" content="article")
    %meta{property: "og:url", content: act_url(act, external: true)}

  - content_for :meta_description do
    #{act.title} for #{regions[act.locality].name}

  %header
    .container
      .header-content
        = partial 'header', locals: {act: act}

  %article
    .container
      - if act.languages.length > 1
        .lang-changer
          Change language:

          %ul.list-inline
            - for lang in act.languages
              %li
                %a{href: act_url(act, language: lang.code3), class: act.language == lang.code3 ? 'text-muted' : ''}&= lang.name

      = partial 'notices', locals: {act: act}
      = yield
