!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %title
      - if content_for?(:title)
        = yield_content(:title)
      - else
        &= current_page.data.title
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="default")
    %link(rel="icon" type="image/png" href="/favicon.png")
    %link(rel="apple-touch-icon" sizes="152x152" href="/img/logo-152.png")

    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    %link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    
    %meta(property="og:image" content="https://openbylaws.org.za/img/logo-lg-white.png")

    %meta{property: "og:title", content: content_for?(:title) ? yield_content(:title) : current_page.data.title}

    %meta(property="og:site_name" content="Open By-laws South Africa")
    %meta{property: "og:title", content: content_for?(:title) ? yield_content(:title) : current_page.data.title}
    %meta{property: "og:description", content: content_for?(:meta_description) ? yield_content(:meta_description) : "South Africa's by-laws: freely available, easy to read and share."}
    %meta{property: "description", content: content_for?(:meta_description) ? yield_content(:meta_description) : "South Africa's by-laws: freely available, easy to read and share."}

    - if content_for?(:head)
      = yield_content(:head)

    - if content_for?(:extra_head)
      = yield_content(:extra_head)

    - if content_for?(:lang_links)
      = yield_content(:lang_links)

  %body
    = partial 'header.html.haml'

    #main-content
      = yield

    = partial 'footer.html.haml'

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    = javascript_include_tag '/js/main.js'
    = javascript_include_tag '/js/help.js'
    = javascript_include_tag '/js/bylaw.js'

    - if content_for?(:footer)
      = yield_content(:footer)

    - if config[:build]
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{config[:region] ? config[:region].ga : "UA-3444003-4"}', 'auto');
        ga('send', 'pageview');

    - if content_for?(:extra_js)
      = yield_content(:extra_js)
