!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %title
      - if content_for?(:title)
        = yield_content(:title)
      - else
        &= current_page.data.title
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    %link(rel="icon" type="image/png" href="/favicon.png")

    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', media: "screen, print"

    - if content_for?(:head)
      = yield_content(:head)

  %body
    /[if lt IE 7]
      %p.chromeframe
        You are using an outdated browser.
        %a(href="http://browsehappy.com/") Upgrade your browser today
        or
        %a(href="http://www.google.com/chromeframe/?redirect=true") install Google Chrome Frame
        to better experience this site.

    .container
      %header#header
        %nav.navbar.navbar-inverse(role="navigation")
          .container-fluid
            .navbar-header
              %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar

              %a.navbar-brand(href='/')
                .hidden-xs Open By-laws South Africa
                .visible-xs Open By-laws ZA

            .navbar-collapse.collapse
              %ul.nav.navbar-nav
                %li
                  %a(href="/about.html") About
                %li
                  %a(href="/contact.html") Contact
                %li
                  %a(href="http://blog.openbylaws.org.za") Blog

              %form.navbar-form.navbar-right(action="/search.html" method="get" role="search")
                %input.form-control(type="text" name="q" placeholder="Search")     
            

      #main-content
        = yield

      %footer#footer
        .row
          .col-sm-3
            %nav
              %h5 By-laws
              %ul
                %li
                  %a(href="/za/by-law/") Browse the By-laws
                %li
                  %a(href="https://github.com/longhotsummer/za-by-laws") By-laws on GitHub
                  %i.fa.fa-github
              %ul
                %li
                  %a(href="/about.html#disclaimer") Disclaimer
          .col-sm-3
            %nav
              %h5 Openbylaws.org.za
              %ul
                %li
                  %a(href="https://twitter.com/OpenByLawsZA") @OpenByLawsZA
                %li
                  %a(href="/about.html") About
                %li
                  %a(href="/contact.html") Contact
              %ul
                %li
                  %a(href="https://github.com/longhotsummer/openbylaws.org.za") Contribute on GitHub
                  %i.fa.fa-github
          .col-sm-6
            %h5 License
            %a(rel="license" href="http://creativecommons.org/licenses/by/2.5/za/deed.en_US")
              %img(alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/2.5/za/88x31.png")
            %p
              The HTML and XML legislation documents are licensed under
              a #{link_to('Creative Commons Attribution 2.5 South Africa License', 'http://creativecommons.org/licenses/by/2.5/za/deed.en_US', rel: 'license')}.

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'
    :javascript
      window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
    = javascript_include_tag '/js/main.js'

    - if content_for?(:footer)
      = yield_content(:footer)

    - if environment == :build
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-3444003-4', 'openbylaws.org.za');
        ga('send', 'pageview');
