.help.hidden
  .row
    .col-md-6
      %h3 Quick help

      Explore the answers to some common questions.
      %br
      #{link_to 'Find more answers →', '/help.html'}
    .col-md-6
      .hidden.single-muni.selected
      .hidden.single-issue.selected
      .btn-group-vertical
        %a.btn.btn-default.single-question.hidden(question="put-ad-ct" issue="Advertising")
          %i.fa.fa-fw.fa-bullhorn
          I want to put up an ad
        %a.btn.btn-default.single-question.hidden(question="remove-ad-ct" issue="Advertising")
          %i.fa.fa-fw.fa-bullhorn
          I want to get an ad removed
        %a.btn.btn-default.single-question.hidden(question="animal-noise-ct" issue="Animals and pets")
          %i.fa.fa-fw.fa-paw
          Someone's pet is making noise
        %a.btn.btn-default.single-question.hidden(question="animal-aggressive-ct" issue="Animals and pets")
          %i.fa.fa-fw.fa-paw
          Someone's pet is aggressive
        %a.btn.btn-default.single-question.hidden(question="nbr-construction-ct" issue="Neighbourhood activities")
          %i.fa.fa-fw.fa-home
          My neighbour is doing construction work   
        %a.btn.btn-default.single-question.hidden(question="me-construction-ct" issue="Neighbourhood activities")
          %i.fa.fa-fw.fa-home
          I want to do construction work
        %a.btn.btn-default.single-question.hidden(question="throw-party-ct" issue="Noise and disturbances")
          %i.fa.fa-fw.fa-home
          I want to throw a party
        %a.btn.btn-default.single-question.hidden(question="noise-nbr-ct" issue="Noise and disturbances")
          %i.fa.fa-fw.fa-home
          My neighbour is making noise
        %a.btn.btn-default.single-question.hidden(question="nbr-construction-db" issue="Neighbourhood activities")
          %i.fa.fa-fw.fa-home
          My neighbour is doing construction work
        %a.btn.btn-default.single-question.hidden(question="me-construction-db" issue="Neighbourhood activities")
          %i.fa.fa-fw.fa-home
          I want to do construction work
        %a.btn.btn-default.single-question.hidden(question="throw-party-db" issue="Noise and disturbances")
          %i.fa.fa-fw.fa-home
          I want to throw a party
        %a.btn.btn-default.single-question.hidden(question="animal-noise-db" issue="Animals and pets")
          %i.fa.fa-fw.fa-paw
          Someone's pet is making noise
        %a.btn.btn-default.single-question.hidden(question="noise-nbr-db" issue="Noise and disturbances")
          %i.fa.fa-fw.fa-bell-o
          My neighbour is making noise
        %a.btn.btn-default.single-question.hidden(question="put-ad-jb" issue="Advertising")
          %i.fa.fa-fw.fa-bullhorn
          I want to put up an ad    
        %a.btn.btn-default.single-question.hidden(question="remove-ad-jb" issue="Advertising")
          %i.fa.fa-fw.fa-bullhorn
          I want to get an ad removed
        %a.btn.btn-default.single-question.hidden(question="animal-noise-jb" issue="Animals and pets")
          %i.fa.fa-fw.fa-paw
          Someone's pet is making noise
        %a.btn.btn-default.single-question.hidden(question="animal-aggressive-jb" issue="Animals and pets")
          %i.fa.fa-fw.fa-paw
          Someone's pet is aggressive               
  
  .row.answer.put-ad-ct.hidden{"muni" => "Cape Town"}
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-info-circle
        #{link_to 'Read more and apply for a permit', 'http://www.capetown.gov.za/work%20and%20business/doing-business-in-the-city/signage-and-advertising/outdoor-advertising'}
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-info-circle
        If you want to put up a temporary property marketing sign you can find information #{link_to 'here', 'http://www.capetown.gov.za/City-Connect/Apply/Advertising-and-signage/Temporary-signage/apply-for-temporary-development-boards/Apply%20for%20temporary%20development%20boards'}
        = partial 'feedback'
  .row.answer.remove-ad-ct.hidden{"muni" => "Cape Town"}
    .col-sm-6
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-6
      .single-sol
        %i.fa.fa-fw.fa-phone
        Contact the #{link_to 'Environmental Management Department', 'href="http://www.capetown.gov.za/Departments/Environmental%20Management%20Department'} at #{link_to 'enviro@capetown.gov.za', 'mailto:enviro@capetown.gov.za'} or call them at #{link_to '021 487 2284', 'tel:0214872284'}. Your complaint will be sent to the relevant District office for investigation.
        = partial 'feedback'
  .row.answer.animal-noise-ct.hidden{"muni" => "Cape Town"}
    .col-sm-6
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with the #{link_to 'Animal by-law', '/za-cpt/act/by-law/2011/animal/'} and the #{link_to 'by-law Relating to noise nuisances', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}
        = partial 'feedback'
    .col-sm-6
      .single-sol
        %i.fa.fa-fw.fa-handshake-o
        Talk to your neighbour
        = partial 'feedback'
    .col-sm-6
      .single-sol
        %i.fa.fa-fw.fa-phone
        If you and your neighbour cannot resolve things, contact your municipality to ask what can be done.
        = partial 'feedback'
    .col-sm-6
      .single-sol
        %i.fa.fa-fw.fa-exclamation-circle
        In case of an emergency, contact law enforcement.
        = partial 'feedback'
  .row.answer.animal-aggressive-ct.hidden{"muni" => "Cape Town"}
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law              
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-handshake-o
        Talk to your neighbour
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-phone
        #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'} 
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-exclamation-circle
        In case of an emergency, contact law enforcement.
        = partial 'feedback'
  .row.answer.nbr-construction-ct.hidden{"muni" => "Cape Town"}
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-handshake-o
        Talk to your neighbour
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-clock-o
        Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', 'https://law.resource.org/pub/za/ibr/za.sans.10400.f.2010.pdf'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-building-o
        Most construction requires a building plan, which normally includes consent from neighbours. You can request the building plan from your neighbour or the #{link_to 'Development Management Department', 'http://www.capetown.gov.za/Departments/Development%20Management%20Department'}.
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-phone
        If your neighbour is in breach of any relevant (by-)law, report it to the #{link_to 'Development Management Department', 'http://www.capetown.gov.za/Departments/Development%20Management%20Department'}
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-exclamation-circle
        Contact law enforcement if you suspect any activity is illegal or dangerous
        = partial 'feedback'            
  .row.answer.me-construction-ct.hidden{"muni" => "Cape Town"}
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-clock-o
        Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', 'https://law.resource.org/pub/za/ibr/za.sans.10400.f.2010.pdf'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-th-large
        Businesses must be zoned to be legal, contact your municipality to understand business zoning
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-building-o
        #{link_to 'Submit a building plan', 'http://www.capetown.gov.za/City-Connect/Apply/Planning-building-and-development/Building-plan-applications/Apply-for-a-building-plan/Apply%20for%20a%20building%20plan'}
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-info-circle
        Read more about #{link_to 'minor works', 'http://www.capetown.gov.za/Work%20and%20business/Commercial-properties/Build-or-renovate-your-property/Guide-to-minor-works'}
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-info-circle
        For more information get in touch with the #{link_to 'Development Management Department', 'http://www.capetown.gov.za/Departments/Development%20Management%20Department'}
        = partial 'feedback'            
  .row.answer.throw-party-ct.hidden{"muni" => "Cape Town"}
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-handshake-o
        Talk to your neighbours
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-handshake-o
        Hosting an event? You'll need an #{link_to 'event permit', 'http://www.capetown.gov.za/City-Connect/Apply/Licences-and-permits/Filming-and-events/Apply-for-an-event-permit'}
        = partial 'feedback'            
  .row.answer.noise-nbr-ct.hidden{"muni" => "Cape Town"}
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-handshake-o
        Talk to your neighbour
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-phone
        If your neighbour is uncooperative #{link_to 'report the noise', 'http://www.capetown.gov.za/City-Connect/Report/Report-noise-pollution/Report-a-noise-disturbance/Report%20a%20noise%20disturbance/'}
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-info-circle
        #{link_to 'Read more about noise', 'http://resource.capetown.gov.za/documentcentre/Documents/Graphics%20and%20educational%20material/What%20is%20noise.pdf'}
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-exclamation-circle
        Contact law enforcement if the situation is dangerous
        = partial 'feedback'

  .row.answer.nbr-construction-db.hidden{"muni" => "eThekwini"}
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-handshake-o
        Talk to your neighbour
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-clock-o
        Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', 'https://law.resource.org/pub/za/ibr/za.sans.10400.f.2010.pdf'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-building-o
        Most construction requires a building plan, which normally includes consent from neighbours. You can request the building plan from your neighbour or the planning department of your municipality. 
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-phone
        If your neighbour is in breach of any relevant (by-)law, report it to the planning department of your municipality
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-exclamation-circle
        Contact law enforcement if you suspect any activity is illegal or dangerous
        = partial 'feedback'
  .row.answer.me-construction-db.hidden{"muni" => "eThekwini"}
    .col-sm-6
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with the #{link_to 'Noise by-law', 'http://boris.local:4567/za-eth/act/by-law/2015/nuisances-behaviour-public-places/section/8/'} and #{link_to 'Building by-laws', 'http://www1.durban.gov.za/durban/government/bylaws/building-bylaws'}
        = partial 'feedback'
    .col-sm-6
      .single-sol
        %i.fa.fa-fw.fa-clock-o
        Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', 'https://law.resource.org/pub/za/ibr/za.sans.10400.f.2010.pdf'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
        = partial 'feedback'
    .col-sm-6
      .single-sol
        %i.fa.fa-fw.fa-th-large
        Businesses must be zoned to be legal, contact your municipality to understand business zoning
        = partial 'feedback'
    .col-sm-6
      .single-sol
        %i.fa.fa-fw.fa-building-o
        #{link_to 'Submit a building plan', 'http://www.durban.gov.za/City_Services/development_planning_management/Pages/Development-Applications-and-Approvals-2.aspx'}
        = partial 'feedback'
  .row.answer.throw-party-db.hidden{"muni" => "eThekwini"}
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-handshake-o
        Talk to your neighbours
        = partial 'feedback'
  .row.answer.animal-noise-db.hidden{"muni" => "eThekwini"}
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-handshake-o
        Talk to your neighbour
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-phone
        If you and your neighbour cannot resolve things, contact your municipality to ask what can be done.
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-exclamation-circle
        In case of an emergency, contact law enforcement.
        = partial 'feedback'
  .row.answer.noise-nbr-db.hidden{"muni" => "eThekwini"}
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-handshake-o
        Talk to your neighbour
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-phone
        If your neighbour is uncooperative contact your muncipality to report the noise
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-exclamation-circle
        Contact law enforcement if the situation is dangerous
        = partial 'feedback'

  .row.answer.put-ad-jb.hidden{"muni" => "Johannesburg"}
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-info-circle
        #{link_to 'Read more and apply for a permit', 'https://joburg.org.za/index.php?option=com_content&task=view&id=554&Itemid=9'}
        = partial 'feedback'
  .row.answer.remove-ad-jb.hidden{"muni" => "Johannesburg"}
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with the this by-law and identify which part of the by-law the advertisement is in breach of
        = partial 'feedback'
    .col-sm-4
      .single-sol
        %i.fa.fa-fw.fa-phone
        Contact the Department of Outdoor Advertising at #{link_to '011 407 6062', 'tel:0114076062'}
        = partial 'feedback'        
  .row.answer.animal-noise-jb.hidden{"muni" => "Johannesburg"}
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-handshake-o
        Talk to your neighbour
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-phone
        If you and your neighbour cannot resolve things, contact your municipality to ask what can be done.
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-exclamation-circle
        In case of an emergency, contact law enforcement.
        = partial 'feedback'
  .row.answer.animal-aggressive-jb.hidden{"muni" => "Johannesburg"}
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-book
        Familiarise yourself with this by-law
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-handshake-o
        Talk to your neighbour
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-phone
        #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'} 
        = partial 'feedback'
    .col-sm-3
      .single-sol
        %i.fa.fa-fw.fa-exclamation-circle
        In case of an emergency, contact law enforcement.
        = partial 'feedback'

  .in-touch.hidden
    .h3
      We'd love to hear from you!

    Have our answers worked for you? Did you find another way to solve your problem?
    %a.open-chat(href="#")
      Please let us know!

    .h4
      Were our answers unhelpful?

    %p
      %a.open-chat(href="#")
        Get in touch
      and let us help you find the right answer for you and future users.

    %p
      Alternatively, #{link_to 'contact your ward councillor', '/contact.html'}, who represents you to your municipality and can help resolve issues.
