.coverpage
  %h2&= act.title

  - if act.publication?
    %h4.published
      Published in
      - url = publication_url(act)
      - if url
        %a{href: url, target: "_blank"}
          &= act.full_publication
          on
          &= act.publication_date.strftime("%e %B %Y")
      - else
        &= act.full_publication

  - if act.commencement_date
    %h4.commencement
      Commences on #{act.commencement_date.strftime("%e %B %Y")} unless otherwise noted
 
  - unless act.amendments.empty?
    %ol.amendment-list
      - for amendment in act.amendments
        %li.amendment
          Amended by
          %span.amending-title
            - if amendment.amending_id
              %a{href: amendment.amending_uri}&= amendment.amending_title
            - else
              &= amendment.amending_title
          on
          %span.date&= amendment.date.strftime("%e %B %Y")
