
.downloads.mt-3
  .row
    .col-sm-8
      .download
        %h3 History of this by-law

        .timeline
          %ul.list-unstyled.timeline-items
            - for event in act.history
              %li
                %h5&= event.date.strftime("%e %B %Y")

                - case event.event
                - when :amendment
                  Amended by
                  %a{href: event.info.amending_uri + '/eng'}
                    %i&= event.info.amending_title

                - when :assent
                  Assented to by council.

                - when :commencement
                  By-law commences.

                - when :publication
                  Published in 
                  %a{href: act.publication_document.url}
                    #{act.full_publication}

                - when :repeal
                  Repealed by
                  %a{href: event.info.repealing_uri + '/eng'}
                    %i&= event.info.repealing_title

                - when :updated
                  Last updated on OpenBylaws.org.za.

    .col-sm-4
      .download
        %h3 Download for later

        %p
          Download the current version of this by-law to read later
          on your desktop, e-reader or tablet.

        = partial 'downloads', locals: {act: act}

      - region = regions[act.locality]
      %h3&= region.name
      %p
        %a{href: region['bylaws-url']}
          %img{src: region.logo}
      %p
        %a{href: region['bylaws-url']}&= "#{region.name} By-laws Website"
