---
layout: 'bylaw'
---

- content_for :title do
  = toc_title(fragment) + " - " + act.title

- content_for :extra_head do
  -# canonical link for google search https://support.google.com/webmasters/answer/139066?hl=en
  %link(rel="canonical" href="http://openbylaws.org.za#{act_url(act)}")

- content_for :breadcrumbs do
  = partial 'breadcrumbs', locals: {act: act, trail: breadcrumbs_for_fragment(fragment)}

= partial 'nav', locals: {act: act, tab: 'content'}

.row
  .col-sm-4
    = partial 'left_nav', locals: {act: act}

  .col-sm-8
    %article.akoma-ntoso.akoma-ntoso-container
      = fragment.html

= partial 'definitions', locals: {act: act}
