---
layout: 'bylaw'
---

- content_for :title do
  = act.title

- content_for :breadcrumbs do
  = partial 'breadcrumbs', locals: {act: act, trail: breadcrumbs_for_fragment(fragment)}

= partial 'nav', locals: {act: act, tab: 'content'}

.row
  .col-sm-4
    %aside.toc
      = partial 'toc', locals: {act: act}
  .col-sm-8
    %article.akoma-ntoso.akoma-ntoso-container
      = fragment.html

= partial 'definitions', locals: {act: act}
