---
layout: 'bylaw'
---

- content_for :title do
  = act.title

= partial 'nav', locals: {act: act, tab: 'content'}

.row
  .col-sm-4
    %aside.toc
      - if not act.stub
        = partial 'toc', locals: {act: act}

  .col-sm-8
    %article.akoma-ntoso.akoma-ntoso-container
      = partial 'coverpage', locals: {act: act}

      - if act.stub
        = partial 'stub', locals: {act: act}
      - else
        = act.html

-# XXX = partial 'definitions', locals: {act: act}
