---
layout: 'bylaw'
---

- content_for :title do
  = act.title

- content_for :lang_links do
  - for lang in act.languages
    %link{rel: "alternate", hreflang: lang.code2, href: act_url(act, language: lang.code3)}

- if not act.stub
  .tab-content
    #main.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="main-tab")
      .row
        .col-md-4
          = partial 'left_nav', locals: {act: act}

        .col-md-8
          %article.akoma-ntoso.akoma-ntoso-container
            = act.html

    #toc.tab-pane.fade(role="tabpanel" aria-labelledby="toc-tab")
      %section.toc
        = partial 'toc', locals: {act: act}

    #resources.tab-pane.fade(role="tabpanel" aria-labelledby="resources-tab")
      %section.resources
        = partial 'resources', locals: {act: act}

- else
  -# stub
  %article.akoma-ntoso.akoma-ntoso-container.stub
    = act.html

  = partial 'stub', locals: {act: act}
