---
layout: 'bylaw'
---

- content_for :title do
  = act.title

- content_for :lang_links do
  - for lang in act.languages
    %link{rel: "alternate", hreflang: lang.code2, href: act_url(act, language: lang.code3)}

- if not act.stub
  = partial 'nav', locals: {act: act, tab: 'content'}

  .row
    .col-md-4
      = partial 'left_nav', locals: {act: act}

    .col-md-8
      %article.akoma-ntoso.akoma-ntoso-container
        = partial 'coverpage', locals: {act: act}
        = act.html

- else
  -# stub
  %article.akoma-ntoso.akoma-ntoso-container.stub
    = partial 'coverpage', locals: {act: act}

  = partial 'stub', locals: {act: act}
