---
layout: 'bylaw'
---

- content_for :title do
  = act.title

- if not act.stub
  = partial 'nav', locals: {act: act, tab: 'content'}

  .row
    .col-sm-4
      = partial 'left_nav', locals: {act: act}

    .col-sm-8
      %article.akoma-ntoso.akoma-ntoso-container
        = partial 'coverpage', locals: {act: act}
        = act.html

  = partial 'definitions', locals: {act: act}

- else
  -# stub
  %article.akoma-ntoso.akoma-ntoso-container.stub
    = partial 'coverpage', locals: {act: act}

  = partial 'stub', locals: {act: act}
