---
layout: 'bylaw'
---

- content_for :title do
  = act.title

= partial 'nav', locals: {act: act, tab: 'content'}

.row
  .col-sm-4
    %aside.toc
      = partial 'toc', locals: {act: act}
  .col-sm-8
    %article.an-container
      .title
        %h2&= act.title

        -# XXX
        - if false #act.publication
          %h4.published
            Published in
            - url = publication_url(act)
            - if url
              %a{href: url}
                &= act.publication['showAs']
                no.
                &= act.publication['number']
                on
                &= act.publication['date']
            - else
              &= act.publication['showAs']
              no.
              &= act.publication['number']
              on
              &= act.publication['date']
       
        -# XXX
        - for amendment in [] #act.amendment_events
          %h4.published
            Amended by
            - if all_bylaws.for_uri(amendment.source['href'])
              %a{href: amendment.source['href']}&= amendment.source['showAs']
            - else 
              &= amendment.source['showAs']               
            on
            &= amendment.date  
                  
      = act.html

-# XXX = partial 'definitions', locals: {act: act}
