---
layout: 'bylaw'
---

- content_for :title do
  #{h act.title} - Resources

= partial 'nav', locals: {act: act, tab: 'resources'}

.downloads.mt-3
  .row
    .col-sm-8
      .download
        %h3 History of this by-law

        .timeline
          %ul.list-unstyled.timeline-items
            - for event in act.history
              %li
                %h5&= event.date.strftime("%e %B %Y")

                - case event.event
                - when :amendment
                  Amended by
                  - if event.info.amending_id
                    %a{href: event.info.amending_uri}
                      %i&= event.info.amending_title
                    - amended_by = bylaw_by_id(event.info.amending_id)
                    - if amended_by
                      - if amended_by.source_enacted
                        %br
                        = partial 'support_download_button', locals: {file: amended_by.source_enacted}
                      - elsif amended_by.source_current
                        %br
                        = partial 'support_download_button', locals: {file: amended_by.source_current}
                  - else
                    %i&= event.info.amending_title

                - when :assent
                  Assented to by council.

                - when :commencement
                  By-law commences.

                - when :publication
                  Published in 
                  %i #{act.full_publication}.
                  - if act.source_enacted
                    %br
                    = partial 'support_download_button', locals: {file: act.source_enacted}

                - when :repeal
                  Repealed by
                  - if event.info.repealing_id
                    %a{href: event.info.repealing_uri}
                      %i&= event.info.repealing_title
                    - repealed_by = bylaw_by_id(event.info.repealing_id)
                    - if repealed_by
                      - if repealed_by.source_enacted
                        %br
                        = partial 'support_download_button', locals: {file: repealed_by.source_enacted}
                      - elsif repealed_by.source_current
                        %br
                        = partial 'support_download_button', locals: {file: repealed_by.source_current}
                  - else
                    &= event.info.repealing_title

                - when :updated
                  Last updated on OpenBylaws.org.za.

      - if act.source_enacted
        .download
          %h4
            %i.fa.fa-file-pdf-o
            Source PDF (as enacted)
          %p
            Download the source PDF version of the by-law, as it
            was first enacted.

          = partial 'support_download_button', locals: {file: act.source_enacted}

      - if act.amended? and act.source_current
        .download
          %h4
            %i.fa.fa-file-pdf-o
            Source PDF (as amended)
          %p
            Download the source PDF version of the by-law, with
            amendments applied.

          = partial 'support_download_button', locals: {file: act.source_current}

    .col-sm-4
      .download
        %h3 Download for later

        %p
          Download the current version of this by-law to read later
          on your desktop, e-reader or tablet.

        = partial 'downloads', locals: {act: act}

      - region = regions[act.locality]
      %h3&= region.name
      %p
        %a{href: region['bylaws-url']}
          %img{src: region.logo}
      %p
        %a{href: region['bylaws-url']}&= "#{region.name} By-laws Website"
