---
layout: 'bylaw'
---

- content_for :title do
  #{h act.title} - Resources

= partial 'nav', locals: {act: act, tab: 'resources'}

.downloads
  .row
    .col-sm-6
      .download
        %h4
          %i.fa.fa-file-pdf-o
          PDF
        .pull-right
          %a.btn.btn-default{href: act.pdf_url}
            %i.fa.fa-download
            Download PDF
        %p
          Download the current PDF version of the by-law, as shown on this website.

      .download
        %h4 
          %i.fa.fa-file-text-o
          Standalone Webpage
        .pull-right
          %a.btn.btn-default{href: act.standalone_html_url}
            %i.fa.fa-download
            Download Webpage
        %p
          Download a standalone webpage (HTML) version of the by-law, as shown on this website.

      - if act.source_enacted
        .download
          %h4
            %i.fa.fa-file-pdf-o
            Source PDF (as enacted)
          .pull-right
            = partial 'support_download_button', locals: {file: act.source_enacted}
          %p
            This is the source PDF version of the by-law, as it
            was first enacted.

      - if act.amended? and act.source_current
        .download
          %h4
            %i.fa.fa-file-pdf-o
            Source PDF (as amended)
          .pull-right
            = partial 'support_download_button', locals: {file: act.source_current}
          %p
            This is the source PDF version of the by-law, with
            amendments applied.

      .download
        %h4
          %i.fa.fa-file-code-o
          Akoma Ntoso XML
        .pull-right
          %a.btn.btn-default{href: act.url + ".xml"}
            %i.fa.fa-download
            Download Akoma Ntoso XML

        %p
          Download the current Akoma Ntoso XML version of the by-law,
          - if act.amended?
            with amendments applied.
          - else
            as it was first enacted.

        %p
          #{link_to 'Akoma Ntoso', 'http://www.akomantoso.org/'} is an
          XML format for legislative documents.


    .col-sm-4.col-sm-offset-2
      - region = regions[act.locality]
      %h3&= region.name
      %p
        %a{href: region['bylaws-url']}
          %img{src: region.logo}
      %p
        %a{href: region['bylaws-url']}&= "#{region.name} By-laws Website"
