---
layout: 'bylaw'
---

- content_for :title do
  #{h act.short_title} - Resources

= partial 'nav', locals: {act: act, tab: 'resources'}

.downloads
  .row
    .col-sm-6
      %h3 Download

      - support_files = support_files_for(act)

      - if support_files.source_enacted
        .download
          %h4 Source PDF (as enacted)
          .pull-right
            = partial 'support_download_button', locals: {file: support_files.source_enacted}
          %p
            This is the source PDF version of the #{act.nature}, as it
            was first enacted.

      - if act.amended? and support_files.source_current
        .download
          %h4 Source PDF (as amended)
          .pull-right
            = partial 'support_download_button', locals: {file: support_files.source_current}
          %p
            This is the source PDF version of the #{act.nature}, with
            amendments applied.

      .download
        %h4 Akoma Ntoso XML
        .pull-right
          = partial 'support_download_button', locals: {file: support_files.akoma_ntoso_current}

        %p
          Download the current Akoma Ntoso XML version of the #{act.nature},
          - if act.amended?
            with amendments applied.
          - else
            as it was first enacted.

        %p
          #{link_to 'Akoma Ntoso', 'http://www.akomantoso.org/'} is an
          XML format for legislative documents.


    .col-sm-4.col-sm-offset-2
      - region = data.geo.regions[act.region]
      %h3&= region.name
      %p
        %a{href: region['bylaws-url']}
          %img{src: region.logo}
      %p
        %a{href: region['bylaws-url']}&= "#{region.name} By-laws Website"
