---
layout: 'bylaw'
---

- content_for :title do
  #{h act.title} - Resources

= partial 'nav', locals: {act: act, tab: 'resources'}

.downloads
  .row
    .col-sm-6
      .download
        %h3 Download this by-law

        %p
          Download the current version of this by-law.

        %ul.fa-ul
          %li
            %i.fa.fa-li.fa-file-pdf-o
            %a{href: act.pdf_url} Download PDF
          %li
            %i.fa.fa-li.fa-file-text-o
            %a{href: act.standalone_html_url} Download Webpage (HTML)

      %h3 Download other resources

      - if act.source_enacted
        .download
          %h4
            %i.fa.fa-file-pdf-o
            Source PDF (as enacted)
          %p
            This is the source PDF version of the by-law, as it
            was first enacted.

          = partial 'support_download_button', locals: {file: act.source_enacted}

      - if act.amended? and act.source_current
        .download
          %h4
            %i.fa.fa-file-pdf-o
            Source PDF (as amended)
          %p
            This is the source PDF version of the by-law, with
            amendments applied.

          = partial 'support_download_button', locals: {file: act.source_current}

      .download
        %h4
          %i.fa.fa-file-code-o
          Akoma Ntoso XML

        %p
          Download the current Akoma Ntoso XML version of the by-law,
          - if act.amended?
            with amendments applied.
          - else
            as it was first enacted.

        %p
          #{link_to 'Akoma Ntoso', 'http://www.akomantoso.org/'} is an
          XML format for legislative documents.

        %ul.fa-ul
          %li
            %i.fa.fa-li.fa-download
            %a{href: act.url + ".xml"} Download Akoma Ntoso XML


    .col-sm-4.col-sm-offset-2
      - region = regions[act.locality]
      %h3&= region.name
      %p
        %a{href: region['bylaws-url']}
          %img{src: region.logo}
      %p
        %a{href: region['bylaws-url']}&= "#{region.name} By-laws Website"
