.regions
  .row
    - for code, region in regions.entries.sort_by { |c, r| r.name }
      .col-sm-6
        .region
          %a(href="/za-#{code}/")
            %h3&= region.name

          %h4 Recent updates
          %ul.list-unstyled
            - for bylaw in region.bylaws.sort_by { |b| b.updated_at }.reverse[0..5]
              %li
                %a{href: act_url(bylaw)}&= bylaw.title

          %br
          %a(href="/za-#{code}/") Browse all #{region.name} by-laws →
