- content_for :title do
  #{region.name} By-laws

- content_for :meta_description do
  By-laws for #{region.name}, up-to-date and easy to read and share.

- content_for :header do
  %h1&= region.name

- content_for :lang_links do
  - for lang in region.bylaws.languages
    %link{rel: "alternate", hreflang: lang.code2, href: lang.is_default ? "/" : "/#{lang.code3}/"}

.row
  .col-sm-9
    - if region.partial
      .alert.alert-warning
        %h4 Please note
        %p
          We're still working to add all of #{region.name}'s by-laws. There are more
          by-laws than are listed here, please check the
          #{link_to "municipality's website", region['bylaws-url']}
          in the mean time. Please #{link_to 'get in touch', 'mailto:hello@openbylaws.org.za'} if you'd like to
          help us out.

    - if region.bylaws.languages.length > 1
      .lang-changer
        Change language:

        %ul.list-inline
          - for lang in region.bylaws.languages
            %li
              %a{href: lang.is_default ? "/" : "/#{lang.code3}/", class: language == lang ? 'text-muted': ''}&= lang.name

    %form(action="/search.html" method="get" role="search")
      %input{type: "hidden", name: "region", value: region.code}
      .input-group
        %input.form-control(name="q" placeholder="Search the by-laws" type="text")
        .input-group-btn
          %button.btn.btn-primary(type="submit") Search
      %br

    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Title
          %th First Published
      %tbody
        - for bylaw in region.bylaws.for_listing(language.code3).sort_by(&:title)
          - next if bylaw.repealed?
          %tr
            %td
              %a{href: act_url(bylaw)}&= bylaw.title
            %td&= bylaw.year

    - if region.missing
      %h4 Coming soon

      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Title
            %th First Published
        %tbody
          - for bylaw in region.missing.sort_by { |b| b.title }
            %tr
              %td&= bylaw.title
              %td&= bylaw.year

    - repealed = region.bylaws.for_listing(language.code3).select { |b| b.repealed? }
    - if not repealed.empty?
      %h4 Repealed
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Title
            %th First Published
            %th Repealed
        %tbody
          - for bylaw in repealed
            %tr
              %td
                %a{href: act_url(bylaw)}&= bylaw.title
              %td&= bylaw.year
              %td&= bylaw.repeal.date.year

  .col-sm-3.resources
    %h3 More resources
    %p
      %a{href: region['bylaws-url']}
        %img{src: region.logo}
    %p
      - if config[:microsite]
        %a{href: region['website-url']}&= "#{region.name} Municipality Website"
      - else
        %a{href: region['bylaws-url']}&= "#{region.name} By-laws Website"
