- content_for :title do
  #{region.name} By-laws

- content_for :header do
  %h1
    &= region.name
    By-laws

.row
  .col-sm-9
    - if region.partial
      .alert.alert-warning
        %h4 Please note
        %p
          We're still working to add all of #{region.name}'s by-laws. There are more
          by-laws than are listed here, please check the
          #{link_to "municipality's website", region['bylaws-url']}
          in the mean time. Please #{link_to 'get in touch', 'mailto:hello@openbylaws.org.za'} if you'd like to
          help us out.

    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Title
          %th First Published
      %tbody
        - for bylaw in region.bylaws.sort_by(&:title)
          - next if bylaw.repealed?
          %tr
            %td
              %a{href: act_url(bylaw)}&= bylaw.title
            %td&= bylaw.year

    - if region.missing
      %h4 Coming soon

      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Title
            %th First Published
        %tbody
          - for bylaw in region.missing.sort_by { |b| b.title }
            %tr
              %td&= bylaw.title
              %td&= bylaw.year

    - repealed = region.bylaws.select { |b| b.repealed? }
    - if not repealed.empty?
      %h4 Repealed
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Title
            %th First Published
            %th Repealed
        %tbody
          - for bylaw in repealed
            %tr
              %td
                %a{href: act_url(bylaw)}&= bylaw.title
              %td&= bylaw.year
              %td&= bylaw.repeal.date.year

  .col-sm-3.resources
    %h3 Download for later

    %ul.list-unstyled.download-list.clearfix
      %li
        %a.download.epub{href: region_url(region) + ".epub", target: "_blank"}
          %span.title #{region.name} By-laws
          %span.format
            ePUB
      %li
        %a.download.pdf{href: region_url(region) + ".pdf", target: "_blank"}
          %span.title #{region.name} By-laws
          %span.format
            PDF

    %h3 More resources
    %p
      %a{href: region['bylaws-url']}
        %img{src: region.logo}
    %p
      %a{href: region['bylaws-url']}&= "#{region.name} By-laws Website"
