- content_for :title do
  &= region.name
  By-laws

- content_for :header do
  %h1
    &= region.name
    By-laws

.row
  .col-sm-9
    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Title
          %th First Published
      %tbody
        - for bylaw in region.bylaws.sort_by(&:title)
          - next if bylaw.repealed?
          %tr
            %td
              %a{href: act_url(bylaw)}&= bylaw.title
            %td&= bylaw.year

    - if region.missing
      %h4 Coming soon

      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Title
            %th First Published
        %tbody
          - for bylaw in region.missing.sort_by { |b| b.title }
            %tr
              %td&= bylaw.title
              %td&= bylaw.year

    - repealed = region.bylaws.select { |b| b.repealed? }
    - if not repealed.empty?
      %h4 Repealed
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Title
            %th First Published
            %th Repealed
        %tbody
          - for bylaw in repealed
            %tr
              %td
                %a{href: act_url(bylaw)}&= bylaw.title
              %td&= bylaw.year
              %td&= bylaw.repeal.date.year

  .col-sm-3
    %h3 More resources

    %p
      %a.btn.btn-default(href="https://github.com/longhotsummer/za-by-laws")
        %i.fa.fa-github
        Browse on GitHub
    %p
      %a.btn.btn-default(href="https://github.com/longhotsummer/za-by-laws/archive/master.zip")
        %i.fa.fa-download
        Download ZIP

    %p
      %a{href: region['bylaws-url']}
        %img{src: region.logo}
    %p
      %a{href: region['bylaws-url']}&= "#{region.name} By-laws Website"
