%footer#footer.py-5
  .container
    .row
      .col-md-6
        %nav.mb-3
          %h5 Openbylaws.org.za

          %p
            Open By-laws is a community effort to make South African by-laws easy to find, ready and share. <a href="/about.html">Find out more</a>.
          %p
            Thank you to #{link_to 'our contributors', '/about.html#contributors'}. Much love.
          %p
            A project by <a href="https://laws.africa">Laws.Africa</a>.

          %img(src="/img/logo-lg.png" style="max-width: 75px")

      .col-md-3
        %nav.mb-3
          %h5 Municipalities

          %ul
            - regions.values.sort_by { |r| r.name }.each do |region|
              %li
                %a{href: region.microsite ? "https://#{region.bucket}" : "/za-#{region.code}/eng/"}&= region.name

      .col-md-3.mb-3
        %h5 Contact Us

        %ul
          %li
            %a(href="https://twitter.com/OpenByLawsZA")
              %i.fab.fa-twitter
              @OpenByLawsZA on Twitter
          %li
            %a(href="https://facebook.com/openbylaws.org.za")
              %i.fab.fa-facebook-square
              Open By-laws on Facebook

        %ul
          %li
            %a(href="/contact.html") Contact Us

        %p
          We aren't lawyers and cannot offer legal support. Always get a professional legal opinion.

        %div
          Sign up to our mailing list:
        = partial 'mailchimp_form.html.haml'

    %hr.my-3

    .row
      .col-sm-9
        The HTML and XML legislation documents are licensed under
        a #{link_to('Creative Commons Attribution 4.0 International License', 'https://creativecommons.org/licenses/by/4.0/', rel: 'license')}.
      .col-sm-3.text-right
        %a(rel="license" href="https://creativecommons.org/licenses/by/4.0/")
          %img(alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by/3.0/88x31.png")

    %hr.my-3

    .row
      .col-md-8
        %p.small
          Laws.Africa is a non-profit organisation registered with the South African Department of Social Development, registration number 216-824 NPO.

      .col-md-4.text-right
        %img(src="/img/lawsafrica-logo-horizontal.png" width="200px" alt="Laws.Africa logo")
