---
title: About - Open By-laws South Africa
contributors:
  - Ally Adendorf
  - Greg Kempe
  - Matt Adendorf
  - Richard Gevers
  - Nqobile Sibisi
  - Cliff Featherstone
  - Andrew Collier
  - Tricia Govindasamy
  - Juan Barrios
  - Pivendren Naik
  - Christopher Gevers
---

- content_for :header do
  %h1 About openbylaws.org.za

.row
  .col-md-9.col-lg-7.col-md-offset-3
    %p.lead
      Open By-laws South Africa is a project to help South Africans be more informed
      about the legislation that governs them.

.row
  .col-md-3.hidden-xs.hidden-sm
    %nav.list-group.about-nav
      %a.list-group-item(href="#top") About By-laws
      %a.list-group-item(href="#who") Who runs Open By-laws?
      %a.list-group-item(href="#open") What is "Open"?
      %a.list-group-item(href="#akomantoso") What is Akoma Ntoso?
      %a.list-group-item(href="#copyright") Are the by-laws copyrighted?
      %a.list-group-item(href="#contributors") Contributors
      %a.list-group-item(href="#disclaimer") Disclaimer
      %a.list-group-item(href="#credits") Credits
      %a.list-group-item(href="#partners") Partners

  .col-md-9.col-lg-7
    %p#top
      By-laws are local laws created by the municipality you live in. They determine
      many aspects of your day-to-day life in South Africa, such as how your
      municipality can charge your for water, what you can do in your local parks,
      and how many pets you can own.

    %p
      It's often hard to find your municipal by-laws. They can be in difficult
      to read PDF files, or may not reflect recent changes. Open By-laws South Africa
      is changing that.

    %h3#who Who runs Open By-laws South Africa?

    %p
      This project was born out of curiosity and is run by #{link_to 'Greg Kempe', 'http://kempe.net'}.
      It is supported by #{link_to 'OpenUp', 'https://openup.org.za'}, a non-profit
      civic technology organisation.

    %p
      In 2013, Open By-laws received a Shuttleworth Flash Grant and an AMI Sandbox Fund grant,
      and we're grateful to these funders who helped us in our infancy.

    %h3#open What is "Open"?

    %p
      The 
      %a(href="http://okfn.org/opendata/") Open Knowledge Foundation
      describes "Open" as:

    %blockquote
      %p
        Open data is data that can be freely used, reused and redistributed by
        anyone – subject only, at most, to the requirement to attribute and
        sharealike.
      %footer
        %cite
          %a(href="http://opendefinition.org/") OpenDefinition.org

    %p
      We believe all our legislation should be freely available and easy to read
      and share. We aim to make all of South Africa's by-laws
      available in open formats that encourage readibility and re-use.

    %p
      To this end, the by-laws that we make available are:

    %ul
      %li easy to link to, including directly to parts, chapters and sections
      %li easy to read as HTML webpages
      %li available as machine-friendly XML in the open #{link_to 'Akoma Ntoso', 'http://www.akomantoso.org/'} format
      %li freely available from our #{link_to 'Indigo API', 'https://indigo.openbylaws.org.za/api/documents?format=api'}
      %li licensed under a #{link_to 'Creative Commons Attribution 4.0 International License', 'https://creativecommons.org/licenses/by/4.0/'}.

    %p
      According to the license, you are free to share and reuse the by-laws, even for commercial purposes, provided that you
      mention that you got them from openbylaws.org.za.

    %h3#akomantoso What is Akoma Ntoso?

    %p
      #{link_to 'Akoma Ntoso', 'http://akomantoso.org'} is a machine-readable XML format for representing parliamentary, legislative and judiciary
      documents. It means "linked hearts" in the Akan language of West Africa. We chose to use Akoma Ntoso as our machine format for by-laws because:

    %ul
      %li it allowed us to capture the semantics of the by-laws
      %li it is an open format under active development
      %li it has been adopted by a number of parliaments across Africa and the European Union.

    %h3#copyright Are the by-laws copyrighted?

    The original by-laws are not copyrighted. Section 12(8)(a) of the
    %a(href="http://www.saflii.org/za/legis/hist_act/ca98o1978152/ca98o1978a1m2011225.html") Copyright Act 98 of 1978
    states:

    %blockquote
      12(8)(a)	No copyright shall subsist in official texts of a legislative, administrative or legal nature, or in official translations of such texts, or in speeches of a political nature or in speeches delivered in the course of legal proceedings, or in news of the day that are mere items of press information.

    In addition, the presentation of the by-laws on this website are licensed under a
    %a(href="https://creativecommons.org/licenses/by/4.0/") Creative Commons Attribution 4.0 International License
    which means that you can basically do anything you want with them provided you provide attribution back to openbylaws.org.za for
    the original content.

    %h3#contributors Contributors

    %p
      An enormous thanks to our contributors and editors:

    %p
      #{current_page.data.contributors.sort.join(', ')}.

    %h3#disclaimer Disclaimer

    %p
      We aren't lawyers. We don't write these laws, we're just making them available and there may be mistakes.
      Always get a professional legal opinion.

    %h3#credits Credits

    %ul
      %li
        Photo of
        %a(href="https://www.flickr.com/photos/mattharvey1/20654618945") Cape Town by mattharvey1 on flickr
      %li
        Photo of
        %a(href="https://www.flickr.com/photos/south-african-tourism/20504209102") eThekwini by south-african-tourism on flickr
      %li
        Photo of
        %a(href="https://www.flickr.com/photos/nico_roets/2547914600") Johannesburg skyline by nico_roets on flickr
      %li
        Photo of
        %a(href="https://www.flickr.com/photos/130467353@N06/17337369662") Cape Agulhas lighthouse by Allan Watt on flickr
      %li
        Photo of Mbizana from
        %a(href="http://www.mbizana.gov.za/") Mbizana Municipality website

    %h3#partners Partners

    = partial 'partner_logos.html.haml'
