---
title: About - Open By-laws South Africa
---

%header
  %h1 About openbylaws.org.za

%article.static
  %p.lead
    Open By-laws South Africa is a project to help South Africans be more informed
    about the legislation that governs them.

  %p
    This project was born out of curiosity and is run by
    #{link_to 'Greg Kempe', 'http://kempe.net'}.
    
  %p
    Feedback and questions are most welcome! Follow us on Twitter or #{link_to 'get in touch', '/contact.html'}.

  %ul.fa-ul
    %li
      %i.fa-li.fa.fa-twitter
      %a(href="https://twitter.com/OpenByLawsZA") @OpenByLawsZA
  %ul.list-unstyled
    %li
      %a(href="https://twitter.com/OpenByLawsZA" class="twitter-follow-button" data-show-count="false") Follow @OpenByLawsZA
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  %h3#open What is "Open"?

  %p
    We believe all our legislation should be freely available and easy to read
    and share. We aim to make all of South Africa's by-laws
    available in open formats that encourage readibility and re-use.

  %p
    The 
    %a(href="http://okfn.org/opendata/") Open Knowledge Foundation
    describes "Open" as:

  %blockquote
    %p
      Open data is data that can be freely used, reused and redistributed by
      anyone – subject only, at most, to the requirement to attribute and
      sharealike.
    %footer
      %cite
        %a(href="http://opendefinition.org/") OpenDefinition.org

  %p
    To this end, the by-laws that we make available are:

  %ul
    %li easy to link to, including directly to parts, chapters and sections
    %li easy to read as HTML webpages
    %li available as machine-friendly XML in the open #{link_to 'Akoma Ntoso', 'http://akomantoso.org'} format
    %li freely available in bulk from our #{link_to 'GitHub repo', 'https://github.com/longhotsummer/za-by-laws'}
    %li licensed under a #{link_to 'Creative Commons Attribution 2.5 South Africa License', 'http://creativecommons.org/licenses/by/2.5/za/deed.en_US'}.

  %p
    According to the license, you are free to share and reuse the by-laws, even for commercial purposes, provided that you
    mention that you got them from openbylaws.org.za.

  %h3#akomantoso What is Akoma Ntoso?

  %p
    #{link_to 'Akoma Ntoso', 'http://akomantoso.org'} is a machine-readable XML format for representing parliamentary, legislative and judiciary
    documents. It means "linked hearts" in the Akan language of West Africa. We chose to use Akoma Ntoso as our machine format for by-laws because:

  %ul
    %li it allowed us to capture the semantics of the by-laws
    %li it is an open format under active development
    %li it has been adopted by a number of parliaments across Africa and the European Union.

  %h3#disclaimer Disclaimer

  %p
    We aren't lawyers. We don't write these laws, we're just making them available and there may be mistakes.
    Always get a professional legal opinion.

  %h3#partners Partners

  = partial 'partner_logos'
