---
layout: false
---
<?xml version='1.0' encoding='utf-8' ?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Open By-laws South Africa</title>
  <subtitle>South Africa's by-laws: freely available, easy to read and share</subtitle>
  <id>http://openbylaws.org.za/</id>
  <updated><%=h all_bylaws.map(&:updated_at).max.iso8601 %></updated>

  <link href="http://openbylaws.org.za/atom.xml" rel="self"/>
  <link href="http://openbylaws.org.za/"/>

  <author>
    <name>OpenBylaws.org.za</name>
  </author>

  <% for act in all_bylaws %>
    <entry>
      <title><%=h act.title %></title>
      <link href="http://openbylaws.org.za<%=h act_url(act) %>" />
      <id>http://openbylaws.org.za<%=h act_url(act)%></id>
      <published><%=h act.expression_date.iso8601 %></published>
      <updated><%=h act.updated_at.iso8601 %></updated>
    </entry>
  <% end %>
</feed>
