---
title: Help track - Open By-laws South Africa
---
= stylesheet_link_tag 'help.css'

- content_for :header do
  %h1 Help

.row
  .info.lead.col-md-9.col-lg-7
    We aren't laywers and cannot offer legal advice. We're created this page to offer our users help with common issues. If there are other issues you think we should include here please #{link_to 'let us know', 'mailto:hello@openbylaws.org.za'}.

.muni.col-md-9.col-lg-7
  %h4
    %i.fa.fa-map-marker
    What is your municipality?
  .row
    %a.col-sm-3.col-xs-6(muni="ct")
      .single-muni
        Cape Town
    %a.col-sm-3.col-xs-6(muni="db")
      .single-muni
        eThekwini
    %a.col-sm-3.col-xs-6(muni="jb")
      .single-muni
        Johannesburg
    %a.col-sm-3.col-xs-6(muni="ot")
      .single-muni
        Other

.col-md-3.hidden-xs.hidden-sm.muni-explainer.hidden
  %i.fa.fa-fw.fa-arrow-left
  Make sure you select a municipality

.issue.col-md-9.col-lg-7
  %h4
    %i.fa.fa-circle-o
    What area does your issue fall under?
  .row
    %a.col-sm-3.col-xs-6(issue="ads")
      .single-issue
        %i.fa.fa-bullhorn
        Advertising
    %a.col-sm-3.col-xs-6(issue="animals")
      .single-issue
        %i.fa.fa-paw
        Animals and pets
    %a.col-sm-3.col-xs-6(issue="neighbours")
      .single-issue
        %i.fa.fa-home
        Neighbourhood activities
    %a.col-sm-3.col-xs-6(issue="noise")
      .single-issue
        %i.fa.fa-bell
        Noise and disturbances

.questions.col-md-9.col-lg-7.hidden.double-hidden
  %h4
    %i.fa.fa-question-circle
    What's the problem?
  .question.ads.row.hidden
    %a.col-sm-3.col-xs-6(question="put-ad")
      .single-question
        I want to put up an ad
    %a.col-sm-3.col-xs-6(question="remove-ad")
      .single-question
        I want to get an ad removed
  .question.animals.row.hidden
    %a.col-sm-3.col-xs-6(question="animal-noise")
      .single-question
        Someone's pet is making noise
    %a.col-sm-3.col-xs-6(question="animal-aggressive")
      .single-question
        Someone's pet is aggressive
    %a.col-sm-3.col-xs-6(question="animal-abused")
      .single-question
        Someone's pet is being abused
  .question.neighbours.row.hidden
    %a.col-sm-3.col-xs-6(question="nbr-construction")
      .single-question
        My neighbour is doing construction work
    %a.col-sm-3.col-xs-6(question="me-construction")
      .single-question
        I want to do construction work
  .question.noise.row.hidden
    %a.col-sm-3.col-xs-6(question="throw-party")
      .single-question
        I want to throw a party
    %a.col-sm-3.col-xs-6(question="noise-nbr")
      .single-question
        My neighbour is making noise

.solutions.col-md-9.col-lg-7.hidden
  %h3.sol-title
    Try the following
  .solution.put-ad.hidden
    .row.sol-muni.ct
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Outdoor Advertising and Signage By-law', '/za-cpt/act/by-law/2001/outdoor-advertising-signage'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          #{link_to 'Read more and apply for a permit', 'http://www.capetown.gov.za/work%20and%20business/doing-business-in-the-city/signage-and-advertising/outdoor-advertising'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          If you want to put up a temporary property marketing sign you can find information #{link_to 'here', 'http://www.capetown.gov.za/City-Connect/Apply/Advertising-and-signage/Temporary-signage/apply-for-temporary-development-boards/Apply%20for%20temporary%20development%20boards'}
          = partial 'feedback'
    .row.sol-muni.db
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Building by-law', 'http://www.durban.gov.za/City_Services/development_planning_management/Advertising_Signage/Documents/Chapter%20IV%20Building%20Bylaws%20Advertising.pdf'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          #{link_to 'Read more and apply for a permit', 'http://www.durban.gov.za/City_Services/development_planning_management/Advertising_Signage/Pages/default.aspx'}
          = partial 'feedback'
    .row.sol-muni.jb
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Outdoor Advertising By-laws', '/za-jhb/act/by-law/2009/outdoor-advertising'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          #{link_to 'Read more and apply for a permit', 'https://joburg.org.za/index.php?option=com_content&task=view&id=554&Itemid=9'}
          = partial 'feedback'
    .row.sol-muni.ot
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          %span Contact the advertising planning department of your municipality. They will be able to provide the information you need. It might be worth asking them for the relevant by-law. You'll most likely have to apply for permission to put up your ad.
          = partial 'feedback'
  .solution.remove-ad.hidden
    .row.sol-muni.ct
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Outdoor Advertising and Signage By-law', '/za-cpt/act/by-law/2001/outdoor-advertising-signage'} and identify which part of the by-law the advertisement is in breach of
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          Contact the #{link_to 'Environmental Management Department', 'http://www.capetown.gov.za/Departments/Environmental%20Management%20Department'} at #{link_to 'enviro@capetown.gov.za', 'mailto:enviro@capetown.gov.za'} or call them at #{link_to '021 487 2284', 'tel:0214872284'}. Your complaint will be sent to the relevant District office for investigation.
          = partial 'feedback'
    .row.sol-muni.db
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Building by-law', 'http://www.durban.gov.za/City_Services/development_planning_management/Advertising_Signage/Documents/Chapter%20IV%20Building%20Bylaws%20Advertising.pdf'} and identify which part of the by-law the advertisement is in breach of
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          Contact the advertising planning department of your municipality, explain why the advertisement is unlawful, and request to have it removed.
          = partial 'feedback'
    .row.sol-muni.jb
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Outdoor Advertising By-laws', '/za-jhb/act/by-law/2009/outdoor-advertising'} and identify which part of the by-law the advertisement is in breach of
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          Contact the Department of Outdoor Advertising at #{link_to '011 407 6062', 'tel:0114076062'}
          = partial 'feedback'
    .row.sol-muni.ot
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          Contact the advertising planning department of your municipality and explain why you think this ad is unlawful. It might be worth asking them for the relevant by-law so you can identify which part of the by-law the advertisement is in breach of. You can then put in a request to have the advertisement removed.
          = partial 'feedback'
  .solution.animal-noise.hidden
    .row.sol-muni.ct
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Animal by-law', '/za-cpt/act/by-law/2011/animal/'} and the #{link_to 'by-law Relating to noise nuisances', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/#section-3'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          If you and your neighbour cannot resolve things, contact your municipality to ask what can be done.
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
          = partial 'feedback'
    .row.sol-muni.db
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Nuisances and Behaviour in Public Places By-law', '/za-eth/act/by-law/2015/nuisances-behaviour-public-places/#section-8'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          If you and your neighbour cannot resolve things, contact your municipality to ask what can be done.
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
          = partial 'feedback'
    .row.sol-muni.jb
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'by-laws relating to Dogs and Cats', '/za-jhb/act/by-law/2006/dogs-and-cats'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          If you and your neighbour cannot resolve things, contact your municipality to ask what can be done.
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
          = partial 'feedback'
    .row.sol-muni.ot
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour to try and resolve things
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          If that doesn't work, contact your municipality and explain the situation. It might be worth asking them for the relevant by-law so you know what is and isn't allowed
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
          = partial 'feedback'
  .solution.animal-aggressive.hidden
    .row.sol-muni.ct
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Animal by-law', '/za-cpt/act/by-law/2011/animal/'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
          = partial 'feedback'
    .row.sol-muni.db
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
          = partial 'feedback'
    .row.sol-muni.jb
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'by-laws relating to Dogs and Cats', '/za-jhb/act/by-law/2006/dogs-and-cats'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
          = partial 'feedback'
    .row.sol-muni.ot
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
          = partial 'feedback'
  .solution.animal-abused.hidden
    .row.sol-muni.ct
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
          = partial 'feedback'
    .row.sol-muni.db
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
          = partial 'feedback'
    .row.sol-muni.jb
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
          = partial 'feedback'
    .row.sol-muni.ot
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
          = partial 'feedback'
  .solution.nbr-construction.hidden
    .row.sol-muni.ct
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'by-law Relating to the Prevention of Noise Nuisances', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/#section-3'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', 'https://law.resource.org/pub/za/ibr/za.sans.10400.f.2010.pdf'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is in breach of any relevant (by-)law, report it to the #{link_to 'Development Management Department', 'http://www.capetown.gov.za/Departments/Development%20Management%20Department'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-building-o
          Most construction requires a building plan, which normally includes consent from neighbours. You can request the building plan from your neighbour or the #{link_to 'Development Management Department', 'http://www.capetown.gov.za/Departments/Development%20Management%20Department'}.
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if you suspect any activity is illegal or dangerous
          = partial 'feedback'
    .row.sol-muni.db
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Nuisances and Behaviour in Public Places By-law', '/za-eth/act/by-law/2015/nuisances-behaviour-public-places/#section-8'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', 'https://law.resource.org/pub/za/ibr/za.sans.10400.f.2010.pdf'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is in breach of any relevant (by-)law, report it to the planning department of your municipality
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-building-o
          Most construction requires a building plan, which normally includes consent from neighbours. You can request the building plan from your neighbour or the planning department of your municipality.
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if you suspect any activity is illegal or dangerous
          = partial 'feedback'
    .row.sol-muni.jb
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', 'https://law.resource.org/pub/za/ibr/za.sans.10400.f.2010.pdf'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is in breach of any relevant (by-)law, report it to the planning department of your municipality
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if you suspect any activity is illegal or dangerous
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-building-o
          Most construction requires a building plan, which normally includes consent from neighbours. You can request the building plan from your neighbour or the planning department of your municipality.
          = partial 'feedback'
    .row.sol-muni.ot
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', 'https://law.resource.org/pub/za/ibr/za.sans.10400.f.2010.pdf'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is in breach of any relevant (by-)law, report it to the planning department of your municipality
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if you suspect any activity is illegal or dangerous
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-building-o
          Most construction requires a building plan, which normally includes consent from neighbours. You can request the building plan from your neighbour or the planning department of your municipality.
          = partial 'feedback'
  .solution.me-construction.hidden
    .row.sol-muni.ct
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'by-law Relating to the Prevention of Noise Nuisances', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/#section-3'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', 'https://law.resource.org/pub/za/ibr/za.sans.10400.f.2010.pdf'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-th-large
          Businesses must be zoned, contact your municipality to understand business zoning
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-building-o
          #{link_to 'Submit a building plan', 'http://www.capetown.gov.za/City-Connect/Apply/Planning-building-and-development/Building-plan-applications/Apply-for-a-building-plan/Apply%20for%20a%20building%20plan'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          Read more about #{link_to 'minor works', 'http://www.capetown.gov.za/Work%20and%20business/Commercial-properties/Build-or-renovate-your-property/Guide-to-minor-works'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          For more information get in touch with the #{link_to 'Development Management Department', 'http://www.capetown.gov.za/Departments/Development%20Management%20Department'}
          = partial 'feedback'
    .row.sol-muni.db
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Noise by-law', '/za-eth/act/by-law/2015/nuisances-behaviour-public-places/#section-8'} and #{link_to 'Building by-laws', 'http://www1.durban.gov.za/durban/government/bylaws/building-bylaws'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', 'https://law.resource.org/pub/za/ibr/za.sans.10400.f.2010.pdf'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-th-large
          Businesses must be zoned, contact your municipality to understand business zoning
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-building-o
          #{link_to 'Submit a building plan', 'http://www.durban.gov.za/City_Services/development_planning_management/Pages/Development-Applications-and-Approvals-2.aspx'}
          = partial 'feedback'
    .row.sol-muni.jb
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', 'https://law.resource.org/pub/za/ibr/za.sans.10400.f.2010.pdf'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-th-large
          Businesses must be zoned, contact your municipality to understand business zoning
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          Contact the planning department of your municipality to enquire about construction and noise by-laws.
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-building-o
          #{link_to 'Submit a building plan', 'https://joburg.org.za/index.php?option=com_content&id=553'}
          = partial 'feedback'
    .row.sol-muni.ot
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', 'https://law.resource.org/pub/za/ibr/za.sans.10400.f.2010.pdf'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-th-large
          Businesses must be zoned, contact your municipality to understand business zoning
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          Contact the planning department of your municipality to enquire about construction and noise by-laws.
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-building-o
          You'll likely have to submit a building plan and get approval to carry out construction work. Your municipality can provide more details about this
          = partial 'feedback'
  .solution.throw-party.hidden
    .row.sol-muni.ct
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'by-law Relating to the Prevention of Noise Nuisances', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/#section-3'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbours
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Hosting an event? You'll need an #{link_to 'event permit', 'http://www.capetown.gov.za/City-Connect/Apply/Licences-and-permits/Filming-and-events/Apply-for-an-event-permit'}
          = partial 'feedback'
    .row.sol-muni.db
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Nuisances and Behaviour in Public Places By-law', '/za-eth/act/by-law/2015/nuisances-behaviour-public-places/#section-8'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbours
          = partial 'feedback'
    .row.sol-muni.jb
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Contact your municipality to ask about what you are and aren't allowed to do. It might be worth asking for the by-law regarding noise pollution
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbours
          = partial 'feedback'
    .row.sol-muni.ot
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Contact your municipality to ask about what you are and aren't allowed to do. It might be worth asking for the by-law regarding noise pollution
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbours
          = partial 'feedback'
  .solution.noise-nbr.hidden
    .row.sol-muni.ct
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'by-law Relating to the Prevention of Noise Nuisances', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/#section-3'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is uncooperative #{link_to 'report the noise', 'http://www.capetown.gov.za/City-Connect/Report/Report-noise-pollution/Report-a-noise-disturbance/Report%20a%20noise%20disturbance/'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          #{link_to 'Read more about noise', 'http://resource.capetown.gov.za/documentcentre/Documents/Graphics%20and%20educational%20material/What%20is%20noise.pdf'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if the situation is dangerous
          = partial 'feedback'
    .row.sol-muni.db
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'Nuisances and Behaviour in Public Places By-law', '/za-eth/act/by-law/2015/nuisances-behaviour-public-places/#section-8'}
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is uncooperative contact your muncipality to report the noise
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if the situation is dangerous
          = partial 'feedback'
    .row.sol-muni.jb
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is uncooperative contact your muncipality to report the noise
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if the situation is dangerous
          = partial 'feedback'
    .row.sol-muni.ot
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is uncooperative contact your muncipality to report the noise
          = partial 'feedback'
      .col-sm-6
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if the situation is dangerous
          = partial 'feedback'

  .h3
    We'd love to hear from you!

  Have our answers worked for you? Did you find another way to solve your problem?
  %a(href="mailto:hello@openbylaws.org.za") Please let us know!

  .h4
    Were our answers unhelpful?

  %p
    %a(href="mailto:hello@openbylaws.org.za") Get in touch
    and let us help you find the right answer for you and future users.

  %p
    Alternatively, #{link_to 'contact your ward councillor', '/contact.html'}, who represents you to your municipality and can help resolve issues.

