---
title: Help track - Open By-laws South Africa
---
= stylesheet_link_tag 'help.css'

- content_for :header do
  %h1 Help track

.row
  .muni.col-md-9.col-lg-7
    %h4
      %i.fa.fa-map-marker
      Select your municipality
    .row
      %a.col-sm-3.col-xs-6(muni="ct")
        .single-muni
          Cape Town
      %a.col-sm-3.col-xs-6(muni="db")
        .single-muni
          eThekwini
      %a.col-sm-3.col-xs-6(muni="jb")
        .single-muni
          Johannesburg
      %a.col-sm-3.col-xs-6(muni="ot")
        .single-muni
          Other

.row
  .issue.col-md-9.col-lg-7
    %h4
      %i.fa.fa-circle-o
      What area does your issue fall under?
    .row
      %a.col-sm-3.col-xs-6(issue="ads")
        .single-issue
          %i.fa.fa-bullhorn
          Advertising
      %a.col-sm-3.col-xs-6(issue="animals")
        .single-issue
          %i.fa.fa-paw
          Animals and pets
      %a.col-sm-3.col-xs-6(issue="neighbours")
        .single-issue
          %i.fa.fa-home
          Neighbourhood activities
      %a.col-sm-3.col-xs-6(issue="noise")
        .single-issue
          %i.fa.fa-bell
          Noise and disturbances


.row
  .questions.col-md-9.col-lg-7.hidden.double-hidden
    %h4
      %i.fa.fa-question-circle
      What's the problem?
    .question.ads.row.hidden
      %a.col-sm-3.col-xs-6(question="put-ad")
        .single-question
          I want to put up an ad
      %a.col-sm-3.col-xs-6(question="remove-ad")
        .single-question
          I want to get an ad removed
    .question.animals.row.hidden
      %a.col-sm-3.col-xs-6(question="animal-noise")
        .single-question
          Someone's pet is making noise
      %a.col-sm-3.col-xs-6(question="animal-aggressive")
        .single-question
          Someone's pet is aggressive
      %a.col-sm-3.col-xs-6(question="animal-abused")
        .single-question
          Someone's pet is being abused
      %a.col-sm-3.col-xs-6(question="animal-abused")
        .single-question
          Someone's pet is being abused
    .question.neighbours.row.hidden
      %a.col-sm-3.col-xs-6(question="nbr-construction")
        .single-question
          My neighbour is doing construction work
      %a.col-sm-3.col-xs-6(question="me-construction")
        .single-question
          I want to do construction work
    .question.noise.row.hidden
      %a.col-sm-3.col-xs-6(question="throw-party")
        .single-question
          I want to throw a party
      %a.col-sm-3.col-xs-6(question="noise-nbr")
        .single-question
          My neighbour is making noise

.row
  .solutions.col-md-9.col-lg-7
    %h4.sol-title
    .solution.put-ad.hidden
      .sol-muni.ct.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with #{link_to 'the relevant by-law', '/za-cpt/act/by-law/2001/outdoor-advertising-signage'}
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          #{link_to 'Read more and apply for a permit', 'http://www.capetown.gov.za/work%20and%20business/doing-business-in-the-city/signage-and-advertising/outdoor-advertising'}
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          If you want to put up a temporary property marketing sign you can find information #{link_to 'here', 'http://www.capetown.gov.za/City-Connect/Apply/Advertising-and-signage/Temporary-signage/apply-for-temporary-development-boards/Apply%20for%20temporary%20development%20boards'}
      .sol-muni.db.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with #{link_to 'the relevant by-law', 'http://www.durban.gov.za/City_Services/development_planning_management/Advertising_Signage/Documents/Chapter%20IV%20Building%20Bylaws%20Advertising.pdf'}
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          #{link_to 'Read more and apply for a permit', 'http://www.durban.gov.za/City_Services/development_planning_management/Advertising_Signage/Pages/default.aspx'}
      .sol-muni.jb.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with #{link_to 'the relevant by-law', '/za-jhb/act/by-law/2009/outdoor-advertising'}
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          #{link_to 'Read more and apply for a permit', 'https://joburg.org.za/index.php?option=com_content&task=view&id=554&Itemid=9'}
      .sol-muni.ot.hidden
        .single-sol
          %i.fa.fa-fw.fa-phone
          %span Contact the advertising planning department of your municipality. They will be able to provide the information you need. It might be worth asking them for the relevant by-law. You'll most likely have to apply for permission to put up your ad.
    .solution.remove-ad.hidden
      .sol-muni.ct.hidden  
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', '/za-cpt/act/by-law/2001/outdoor-advertising-signage'} and identify which part of the by-law the advertisement is in breach of
        .single-sol
          %i.fa.fa-fw.fa-phone
          Contact the #{link_to 'Environmental Management Department', 'href="http://www.capetown.gov.za/Departments/Environmental%20Management%20Department'} at #{link_to 'enviro@capetown.gov.za', 'mailto:enviro@capetown.gov.za'} or call them at #{link_to '021 487 2284', 'tel:0214872284'}. Your complaint will be sent to the relevant District office for investigation.
      .sol-muni.db.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', 'http://www.durban.gov.za/City_Services/development_planning_management/Advertising_Signage/Documents/Chapter%20IV%20Building%20Bylaws%20Advertising.pdf'} and identify which part of the by-law the advertisement is in breach of
        .single-sol
          %i.fa.fa-fw.fa-phone
          Contact the advertising planning department of your municipality, explain why the advertisement is unlawful, and request to have it removed.
      .sol-muni.jb.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', '/za-jhb/act/by-law/2009/outdoor-advertising'} and identify which part of the by-law the advertisement is in breach of
        .single-sol
          %i.fa.fa-fw.fa-phone
          Contact the Department of Outdoor Advertising at #{link_to '011 407 6062', 'tel:0114076062'}
      .sol-muni.ot.hidden
        .single-sol
          %i.fa.fa-fw.fa-phone
          Contact the advertising planning department of your municipality and explain why you think this ad is unlawful. It might be worth asking them for the relevant by-law so you can identify which part of the by-law the advertisement is in breach of. You can then put in a request to have the advertisement removed.
    .solution.animal-noise.hidden
      .sol-muni.ct.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the relevant by-laws:
          %ul
            %li
              #{link_to 'Animal by-law', '/za-cpt/act/by-law/2011/animal/'}
            %li
              #{link_to 'By-law relating to noise nuisances', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-phone
          If you and your neighbour cannot resolve things, contact your municipality to ask what can be done.
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
      .sol-muni.db.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', '/za-eth/act/by-law/2015/nuisances-behaviour-public-places/section/8/'}
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-phone
          If you and your neighbour cannot resolve things, contact your municipality to ask what can be done.
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
      .sol-muni.jb.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', '/za-jhb/act/by-law/2006/dogs-and-cats'}
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-phone
          If you and your neighbour cannot resolve things, contact your municipality to ask what can be done.
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
      .sol-muni.ot.hidden
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour to try and resolve things
        .single-sol
          %i.fa.fa-fw.fa-phone
          If that doesn't work, contact your municipality and explain the situation. It might be worth asking them for the relevant by-law so you know what is and isn't allowed
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
    .solution.animal-aggressive.hidden
      .sol-muni.ct.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with #{link_to 'the relevant by-law', '/za-cpt/act/by-law/2011/animal/'}              
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'} 
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
      .sol-muni.db.hidden
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'} 
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
      .sol-muni.jb.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', '/za-jhb/act/by-law/2006/dogs-and-cats'}
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'} 
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
      .sol-muni.ot.hidden
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'} 
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
    .solution.animal-abused.hidden
      .sol-muni.ct.hidden
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'} 
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
      .sol-muni.db.hidden
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'} 
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
      .sol-muni.jb.hidden
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'} 
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
      .sol-muni.ot.hidden
        .single-sol
          %i.fa.fa-fw.fa-phone
          #{link_to 'Contact your local SPCA', 'http://nspca.internetsite.co.za/spcas-in-sa/'} 
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          In case of an emergency, contact law enforcement.
    .solution.nbr-construction.hidden
      .sol-muni.ct.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-building-o
          Most construction requires a building plan, which normally includes consent from neighbours. You can request the building plan from your neighbour or the #{link_to 'Development Management Department', 'http://www.capetown.gov.za/Departments/Development%20Management%20Department'}.
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is in breach of any relevant (by-)law, report it to the #{link_to 'Development Management Department', 'http://www.capetown.gov.za/Departments/Development%20Management%20Department'}
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if you suspect any activity is illegal or dangerous
      .sol-muni.db.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', '/za-eth/act/by-law/2015/nuisances-behaviour-public-places/section/8/'}
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-building-o
          Most construction requires a building plan, which normally includes consent from neighbours. You can request the building plan from your neighbour or the planning department of your municipality. 
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is in breach of any relevant (by-)law, report it to the planning department of your municipality
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if you suspect any activity is illegal or dangerous
      .sol-muni.jb.hidden
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-building-o
          Most construction requires a building plan, which normally includes consent from neighbours. You can request the building plan from your neighbour or the planning department of your municipality. 
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is in breach of any relevant (by-)law, report it to the planning department of your municipality
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if you suspect any activity is illegal or dangerous
      .sol-muni.ot.hidden
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-building-o
          Most construction requires a building plan, which normally includes consent from neighbours. You can request the building plan from your neighbour or the planning department of your municipality. 
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is in breach of any relevant (by-)law, report it to the planning department of your municipality
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if you suspect any activity is illegal or dangerous
    .solution.me-construction.hidden
      .sol-muni.ct.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
        .single-sol
          %i.fa.fa-fw.fa-th-large
          Businesses must be zoned to be legal, contact your municipality to understand business zoning
        .single-sol
          %i.fa.fa-fw.fa-building-o
          #{link_to 'Submit a building plan', 'http://www.capetown.gov.za/City-Connect/Apply/Planning-building-and-development/Building-plan-applications/Apply-for-a-building-plan/Apply%20for%20a%20building%20plan'}
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          Read more about #{link_to 'minor works', 'http://www.capetown.gov.za/Work%20and%20business/Commercial-properties/Build-or-renovate-your-property/Guide-to-minor-works'}
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          For more information get in touch with the #{link_to 'Development Management Department', 'http://www.capetown.gov.za/Departments/Development%20Management%20Department'}
      .sol-muni.db.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the relevant by-laws:
          %ul
            %li
              #{link_to 'Noise by-law', 'http://boris.local:4567/za-eth/act/by-law/2015/nuisances-behaviour-public-places/section/8/'}
            %li
              #{link_to 'Building by-laws', 'http://www1.durban.gov.za/durban/government/bylaws/building-bylaws'}
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
        .single-sol
          %i.fa.fa-fw.fa-th-large
          Businesses must be zoned to be legal, contact your municipality to understand business zoning
        .single-sol
          %i.fa.fa-fw.fa-building-o
          #{link_to 'Submit a building plan', 'http://www.durban.gov.za/City_Services/development_planning_management/Pages/Development-Applications-and-Approvals-2.aspx'}
      .sol-muni.jb.hidden
        .single-sol
          %i.fa.fa-fw.fa-phone
          Contact the planning department of your municipality to enquire about construction and noise by-laws.
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
        .single-sol
          %i.fa.fa-fw.fa-th-large
          Businesses must be zoned to be legal, contact your municipality to understand business zoning
        .single-sol
          %i.fa.fa-fw.fa-building-o
          #{link_to 'Submit a building plan', 'https://joburg.org.za/index.php?option=com_content&id=553'}
      .sol-muni.ot.hidden
        .single-sol
          %i.fa.fa-fw.fa-phone
          Contact the planning department of your municipality to enquire about construction and noise by-laws.
        .single-sol
          %i.fa.fa-fw.fa-clock-o
          Building hours are controlled by SANS 10400 Part F6 (#{link_to 'source 1', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}, #{link_to 'source 2', 'http://sans10400.co.za/site-operations/'})
        .single-sol
          %i.fa.fa-fw.fa-th-large
          Businesses must be zoned to be legal, contact your municipality to understand business zoning
        .single-sol
          %i.fa.fa-fw.fa-building-o
          You'll likely have to submit a building plan and get approval to carry out construction work. Your municipality can provide more details about this
    .solution.throw-party.hidden
      .sol-muni.ct.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbours
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Hosting an event? You'll need an #{link_to 'event permit', 'http://www.capetown.gov.za/City-Connect/Apply/Licences-and-permits/Filming-and-events/Apply-for-an-event-permit'}
      .sol-muni.db.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', '/za-eth/act/by-law/2015/nuisances-behaviour-public-places/section/8/'}
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbours
      .sol-muni.jb.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Contact your municipality to ask about what you are and aren't allowed to do. It might be worth asking for the by-law regarding noise pollution
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbours
      .sol-muni.ot.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Contact your municipality to ask about what you are and aren't allowed to do. It might be worth asking for the by-law regarding noise pollution
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbours
    .solution.noise-nbr.hidden
      .sol-muni.ct.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', '/za-cpt/act/by-law/2007/streets-public-places-noise-nuisances/section/3/'}
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is uncooperative #{link_to 'report the noise', 'http://www.capetown.gov.za/City-Connect/Report/Report-noise-pollution/Report-a-noise-disturbance/Report%20a%20noise%20disturbance/'}
        .single-sol
          %i.fa.fa-fw.fa-info-circle
          #{link_to 'Read more about noise', 'http://resource.capetown.gov.za/documentcentre/Documents/Graphics%20and%20educational%20material/What%20is%20noise.pdf'}
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if the situation is dangerous
      .sol-muni.db.hidden
        .single-sol
          %i.fa.fa-fw.fa-book
          Familiarise yourself with the #{link_to 'relevant by-law', '/za-eth/act/by-law/2015/nuisances-behaviour-public-places/section/8/'}
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is uncooperative contact your muncipality to report the noise
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if the situation is dangerous
      .sol-muni.jb.hidden
        .single-sol
          %i.fa.fa-fw.fa-handshake-o
          Talk to your neighbour
        .single-sol
          %i.fa.fa-fw.fa-phone
          If your neighbour is uncooperative contact your muncipality to report the noise
        .single-sol
          %i.fa.fa-fw.fa-exclamation-circle
          Contact law enforcement if the situation is dangerous
      .row.sol-muni.ot
        .col-sm-4
          .single-sol
            %i.fa.fa-fw.fa-handshake-o
            Talk to your neighbour
            .feedback
              %a.positive(opinion="positive")
                %i.fa.fa-fw.fa-thumbs-up
              %a.negative(opinion="negative")
                %i.fa.fa-fw.fa-thumbs-down
        .col-sm-4
          .single-sol
            %i.fa.fa-fw.fa-phone
            If your neighbour is uncooperative contact your muncipality to report the noise
            .feedback
              %a.positive(opinion="positive")
                %i.fa.fa-fw.fa-thumbs-up
              %a.negative(opinion="negative")
                %i.fa.fa-fw.fa-thumbs-down
        .col-sm-4
          .single-sol
            %i.fa.fa-fw.fa-exclamation-circle
            Contact law enforcement if the situation is dangerous
            .feedback
              %a.positive(opinion="positive")
                %i.fa.fa-fw.fa-thumbs-up
              %a.negative(opinion="negative")
                %i.fa.fa-fw.fa-thumbs-down

%a.btn.btn-default(role="button" data-toggle="collapse" href="#extras" aria-expanded="false" aria-controls="extras")
  Still struggling?


-# #extras.collapse
-#   .row
-#     .col-md-9.col-lg-7
-#       Still struggling? Contact your ward councillor who can assist you with municipal matters
-#       .row
-#         #councillor-iframe
-#         %script{:src => "https://nearby.code4sa.org/static/councillor-embed.js"}