---
title: Open By-laws South Africa
layout: layout
---

- content_for :head do
  %meta(property="fb:admins" content="806515583")
  %link(rel="alternate" type="application/atom+xml" href="atom.xml")

#main-page
  %section.welcome.py-4
    .container
      .row
        .col-sm-7
          %h1
            South Africa's
            %nobr By-laws

          %h3.font-weight-normal
            Freely available, easy to find, read and share.
              
        .col-sm-5
          .d-none.d-sm-block
            %img.logo.img-fluid(src="/img/logo-lg.png")

  %section.places.py-4
    .container
      %h2 Explore your municipality's by-laws

      - regions.values.reject { |r| r.microsite }.sort_by { |r| r.name }.each_slice(3) do |chunk|
        .row
          - for region in chunk
            .col-sm-4
              %a.placard{class: region.code, href: "/za-#{region.code}/eng/", style: "background-image: url(/img/municipalities/#{region.code}-placard.jpg)"}
                %h3&= region.name

      - regions.values.select { |r| r.microsite }.sort_by { |r| r.name }.each_slice(3) do |chunk|
        .row
          - for region in chunk
            .col-sm-4
              %a.placard{class: region.code, href: "https://#{region.bucket}/", style: "background-image: url(/img/municipalities/#{region.code}-placard.jpg)"}
                %h3&= region.name

  %section.about
    .container
      .row
        .col-sm-8
          %p.lead
            Open By-laws is a community effort to make our by-laws:

          %p.lead
            %strong Freely-available
            because everyone has a right to know the law,

          %p.lead
            %strong Easy to read
            so that they're easier to understand,

          %p.lead
            %strong Easy to share
            to spread knowledge and understanding.

          %p.lead
            #{link_to 'Find out more →', "/about.html"}

        .col-sm-4
          %p.lead
            %strong Join our community
            and help liberate by-laws across the country.

          .social-buttons
            %p
              %a.twitter(href="https://twitter.com/OpenByLawsZA" target="_blank")
                %i.fa.fa-twitter
                Follow @OpenByLawsZA
            %p
              %a.facebook(href="https://www.facebook.com/openbylaws.org.za" target="_blank")
                %i.fa.fa-facebook
                Like us on Facebook

          %h4 Sign up to our mailing list

          %p For updates on new by-laws, workshops and other news.
          = partial 'mailchimp_form.html.haml'

  %section
    .container
      .row
        .col-md-8
          %h2 We want to add your municipality

          %p.lead
            If you're passionate about by-laws in your municipality, we want to work with you to make them
            available to your community.

          %p.lead
            Please email us at #{link_to 'hello@openbylaws.org.za', 'mailto:hello@openbylaws.org.za'}.

  %section
    .container
      = partial 'partner_logos.html.haml'
