---
title: Open By-laws South Africa
layout: layout
---

- content_for :head do
  %meta(property="fb:admins" content="806515583")
  %link(rel="alternate" type="application/atom+xml" href="atom.xml")

#main-page
  %section.welcome.py-5
    .container
      .row
        .col-sm-7.pb-3
          %h1
            South Africa's
            %nobr By-laws

          %h3.font-weight-normal
            Freely available, easy to find, read and share.

        .col-sm-5
          .text-center
            %img.logo(src="/img/logo-lg.png")

      .mt-4
        %h5.text-center.text-sm-left
          A project by
          %a(href="https://laws.africa")
            %img.ml-2(src="/img/lawsafrica-logo-horizontal.png" style="width: 150px" alt="Laws.Africa")

  %section.places.py-5
    .container
      .mb-5
        = partial 'templates/act/covid19_notice'

      - regions.values.reject { |r| r.microsite or r.special }.sort_by { |r| r.name }.each_slice(3) do |chunk|
        .row
          - for region in chunk
            .col-md-4
              %a.placard{class: region.code, href: "/za-#{region.code}/eng/", style: "background-image: url(/img/municipalities/#{region.code}-placard.jpg)"}
                %h3&= region.name

      - regions.values.select { |r| r.microsite }.sort_by { |r| r.name }.each_slice(3) do |chunk|
        .row
          - for region in chunk
            .col-md-4
              %a.placard{class: region.code, href: "https://#{region.bucket}/", style: "background-image: url(/img/municipalities/#{region.code}-placard.jpg)"}
                %h3&= region.name

  %section.about.py-5
    .container
      %h3 Anyone can help to make the law freely available

      .row
        .col-md-8
          %p.lead
            Open By-laws is maintained by the <a href="https://laws.africa">Laws.Africa</a> contributor community. Anyone can join the community and help to make African law freely available. You can help by adding new by-laws or keeping them up to date. Laws.Africa offers training and support.

          %p
            %a(href="https://laws.africa/faq") About the Laws.Africa Contributor Community →

        .col-md-4
          .social-buttons
            %p
              %a(href="https://twitter.com/OpenByLawsZA" target="_blank")
                %i.fab.fa-twitter
                Follow @OpenByLawsZA on Twitter
            %p
              %a(href="https://www.facebook.com/openbylaws.org.za" target="_blank")
                %i.fab.fa-facebook
                Open By-laws on Facebook

          %h4 Sign up to our mailing list

          %p For updates on new by-laws, workshops and other news.
          = partial 'mailchimp_form.html.haml'

  %section.my-5
    .container
      .row
        .col-md-9
          %h3 Powered by Laws.Africa
          %p.lead
            Open By-laws is powered by the Laws.Africa legislation commons of African legislation.

          %p.lead
            <a href="https://laws.africa">Laws.Africa</a> is a non-profit organisation that curates the African legislation commons and builds technology to enable free access to the law.

        .col-md-3.text-center.align-self-center
          %img.my-3(src="/img/lawsafrica-logo.png" style="width: 150px" alt="Laws.Africa logo")

  %section.my-5
    .container
      .row
        .col-md-8
          %h3 Use the by-laws in your app or website

          %p.lead
            Include the by-laws in your research, website, or app and build powerful interactive solutions for your users.

          %p.lead
            The by-laws are available as structured, machine-friendly Akoma Ntoso XML through the Laws.Africa Content API. Access rich content in HTML, PDF and ePub, and detailed metadata including publication and amendment information.

          %p
            %a(href="https://laws.africa/api/")About the Laws.Africa Content API →
