---
title: Open By-laws South Africa
---

- content_for :head do
  %meta(name="description"    content="South Africa's By-laws: online, freely available and easy to read and share.")
  %meta(name="og:description" content="South Africa's By-laws: online, freely available and easy to read and share.")
  %link(rel="alternate" type="application/atom+xml" href="atom.xml")

#main-page
  .jumbotron.welcome
    .row
      .col-sm-8
        %h2
          South Africa's By-laws in HTML

        %p.lead
          Freely available. Easy to read and share.
            
      .col-sm-4
        %h3
          Search the By-laws
        %form(action="/search.html" method="get" role="search")
          %input.form-control(type="text" name="q" class="input-large" placeholder="What are you looking for?")

  = partial 'templates/region_list.html.haml'

  .jumbotron.belief
    %p.lead.text-center
      We believe all our legislation should be 
      %strong freely available 
      and
      %strong easy to read
      and
      %strong share.
      #{link_to 'Find out more', "/about.html"}.

  .row
    .col-sm-8
      .action-blocks
        .row
          .col-sm-6.action-block
            %i.fa.fa-share-square-o.fa-5x
            .action
              %h3 Share

              %ul.fa-ul
                %li
                  %i.fa-li.fa.fa-twitter
                  %a(href="https://twitter.com/OpenByLawsZA") @OpenByLawsZA
              %ul.list-unstyled
                %li
                  %a(href="https://twitter.com/share" class="twitter-share-button" data-url="http://openbylaws.org.za" data-text="South Africa's by-laws freely available, online, easy to read and share" data-via="OpenByLawsZA") Tweet
                  :javascript
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

          .col-sm-6.action-block
            %i.fa.fa-flask.fa-5x
            .action
              %h3 Build

              #{link_to 'Download the by-laws', 'https://github.com/longhotsummer/za-by-laws'} and build
              new tools to explore, share and understand them.

    .col-sm-4
      = partial 'mailchimp_form.html'

  = partial 'latest_social'

%footer.sponsors.text-center
  = partial 'partner_logos'
